[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap-form = "<=3.4"
Django = ">=2.2.2"

[dev-packages]
django-debug-toolbar = "<=1.11"

[requires]
python_version = "3.7"
