[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap-form = "<=3.4"
Django = "<=2.1"

[dev-packages]
django-debug-toolbar = "<=1.10"

[requires]
python_version = "3.7"
