[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap-form = "*"
Django = "~=1.11"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.6"
