{% extends "base.html" %}
{% load bootstrap %}

{% comment %}
Ce programme est sous licence GNU GPL
©2017-2018 Nils et Samuel Van Zuijlen
©2019 Samuel Van Zuijlen
{% endcomment %}

{% load bootstrap %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block content %}
    <form action="{% url "add_user" %}" method="post" class="well">
        {% csrf_token %}
        {{ form|bootstrap }}

        <input type="submit" value="Enregistrer" class="btn btn-primary" />
    </form>
{% endblock %}
