{% extends "base.html" %}

{% comment %}
Ce programme est sous licence GNU GPL
©2017 Nils et Samuel Van Zuijlen
{% endcomment %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block content %}
    <form action="{% url "add_user" %}" method="post" class="well">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.lastname.label_tag }}
        {% if form.lastname.errors %}
            <div class="form-group has-error">
                <label class="control-label">Erreur</label>
                {{ form.lastname }}
                <span class="help-block">{{ form.lastname.errors}}</span>
            </div>
        {% else %}
            {{ form.lastname }}
        {% endif %}

        {{ form.firstname.label_tag }}
        {% if form.firstname.errors %}
            <div class="form-group has-error">
                <label class="control-label">Erreur</label>
                {{ form.firstname }}
                <span class="help-block">{{ form.firstname.errors}}</span>
            </div>
        {% else %}
            {{ form.firstname }}
        {% endif %}

        {{ form.username.label_tag }}
        {% if form.username.errors %}
            <div class="form-group has-error">
                <label class="control-label">Erreur</label>
                {{ form.username }}
                <span class="help-block">{{ form.username.errors}}</span>
            </div>
        {% else %}
            {{ form.username }}
        {% endif %}

        {{ form.email.label_tag }}
        {% if form.email.errors %}
            <div class="form-group has-error">
                <label class="control-label">Erreur</label>
                {{ form.email }}
                <span class="help-block">{{ form.email.errors}}</span>
            </div>
        {% else %}
            {{ form.email }}
        {% endif %}

        {{ form.telephone.label_tag }}
        {% if form.telephone.errors %}
            <div class="form-group has-error">
                <label class="control-label">Erreur</label>
                {{ form.telephone }}
                <span class="help-block">{{ form.telephone.errors}}</span>
            </div>
        {% else %}
            {{ form.telephone }}
        {% endif %}

        {{ form.voluntary.label_tag }}
        {% if form.voluntary.errors %}
            <div class="form-group has-error">
                <label class="control-label">Erreur</label>
                {{ form.voluntary }}
                <span class="help-block">{{ form.voluntary.errors}}</span>
            </div>
        {% else %}
            {{ form.voluntary }}
            {{ form.voluntary.help_text }}
            <br />
        {% endif %}

        {{ form.addresses.label_tag }}
        {% if form.addresses.errors %}
            <div class="form-group has-error">
                <label class="control-label">Erreur</label>
                {{ form.addresses }}
                <span class="help-block">{{ form.addresses.errors}}</span>
            </div>
        {% else %}
            {{ form.addresses }}
        {% endif %}

        <input type="submit" value="Enregistrer" class="btn btn-primary" />
    </form>
{% endblock %}
