{% extends "base.html" %}

{% block title %}
	Profil de {{ profil.user.first_name }} {{ profil.user.last_name }}
{% endblock %}

{% block content %}
	<a href="{% url "liste_profils" %}"><input type="button" value="Retour à la liste des profils"></a>
	<h1>Profil de {{ profil.user.first_name }} {{ profil.user.last_name }}</h1>
	<dl>
		<dt>Nom</dt>
		<dd>{{ profil.user.last_name }}</dd>

		<dt>Prénom</dt>
		<dd>{{ profil.user.first_name }}</dd>

		<dt>Nom d'utilisateur</dt>
		<dd>{{ profil.user.username }}</dd>

		<dt>Téléphone</dt>
		<dd>{{ profil.telephone }}</dd>

		<dt>Adresse</dt>
		<dd>{{ profil.adresse|linebreaks }}</dd>

		<dt>E-mail</dt>
		<dd>
			<a href="mailto:{{ profil.user.email }}">{{ profil.user.email }}</a>
		</dd>

		<dt>Peut prendre un stagiaire</dt>
		<dd>
			{% if profil.stagiaire %}
				Oui
			{% else %}
				Non
			{% endif %}
		</dd>

		<dt>Compétences</dt>
		<dd>
			<dl>
				{% for detail_competence in profil.detail_set.all %}
					<a href="{% url "liste_categories" %}"><dt>{{ detail_competence.categorie.nom }}</dt></a>
					<dd>
						<details value="+ de détail">{{ detail_competence.details|linebreaks }}</details>
					</dd>
				{% endfor %}
			</dl>
		</dd>
	</dl>
{% endblock %}
